# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.pth
*.pt
/data
/__pycache__/
/.idea
/HCFedAvg/data
*.pyc
ModelQuantification/data/cifar-10-batches-py/batches.meta
ModelQuantification/data/cifar-10-batches-py/test_batch
ModelQuantification/data/cifar-10-batches-py/data_batch_1
ModelQuantification/data/cifar-10-batches-py/data_batch_2
ModelQuantification/data/cifar-10-batches-py/data_batch_3
ModelQuantification/data/cifar-10-batches-py/data_batch_4
ModelQuantification/data/cifar-10-batches-py/data_batch_5
ModelQuantification/data/cifar-10-batches-py/readme.html
ModelQuantification/data/MNIST/raw/train-images-idx3-ubyte
ModelQuantification/data/MNIST/raw/t10k-images-idx3-ubyte
*.gz
ModelQuantification/data/MNIST/raw/t10k-labels-idx1-ubyte
ModelQuantification/data/MNIST/raw/train-labels-idx1-ubyte
*.csv
*.csv
*.pyc
HCFedAvg/__pycache__/DataGenerater.cpython-39.pyc
HCFedAvg/__pycache__/FileProcess.cpython-39.pyc
HCFedAvg/__pycache__/HCClusterTree.cpython-39.pyc
*.pyc
