# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.pth
*.pt
/data
__pycache__/
/.idea
/HCFedAvg/data
*.pyc